@charset "utf-8";

$blue-color: #08c;
/* Color del logo */
$primary-color: #3593D0;

$links-color: #0088CC;
$text-color: #333;
$border-color: #ccc;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin simple-border($opacity){
	border:1px solid $opacity;
}
@mixin transition($speed){
	transition: all $speed;
	-moz-transition: all $speed;
	-webkit-transition: all $speed;
}
@mixin box-shadow($x,$y,$z,$w,$opacity ) {
	-webkit-box-shadow:$x $y $z $w rgba(0,0,0,$opacity);
	-moz-box-shadow:$x $y $z $w rgba(0,0,0,$opacity);
	-ms-box-shadow:$x $y $z $w rgba(0,0,0,$opacity);
	box-shadow:$x $y $z $w rgba(0,0,0,$opacity);
}
@mixin double-box-shadow($x,$y,$z,$w,$opacity, $x2,$y2,$z2,$w2,$opacity2) {
  -webkit-box-shadow:$x $y $z $w rgba(0,0,0,$opacity), $x2 $y2 $z2 $w2 rgba(0,0,0,$opacity2);
  -moz-box-shadow:$x $y $z $w rgba(0,0,0,$opacity), $x2 $y2 $z2 $w2 rgba(0,0,0,$opacity2);
  -ms-box-shadow:$x $y $z $w rgba(0,0,0,$opacity), $x2 $y2 $z2 $w2 rgba(0,0,0,$opacity2);
  box-shadow:$x $y $z $w rgba(0,0,0,$opacity), $x2 $y2 $z2 $w2 rgba(0,0,0,$opacity2);
}

#user-top-nav{	
	padding:10px;	
	@include box-shadow(0,0,3px,0,.5);
}
.cion-it{}


