*{margin:0;}

html,body,p,h1,h2,h3,h4,h5,h6,div,section,ul,li,a {
	font-family: "Open Sans", lucida grande, sans-serif;-webkit-font-smoothing:antialiased;
	/*font-weight:lighter;*/
}body {min-width: 367px;overflow-x:hidden;padding:10px;box-sizing:border-box;background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f2f5fb),color-stop(100%,#fff));
background: -webkit-linear-gradient(#f2f5fb,#fff);
background: -moz-linear-gradient(#f2f5fb,#fff);
background: -o-linear-gradient(#f2f5fb,#fff);
background: linear-gradient(#f2f5fb,#fff);}

div{color:#333;text-shadow:0,1px,0 rgba(255,255,255,.5);}
img {vertical-align:middle;width:100%;box-sizing: border-box;max-width:20%;}
hr.soften {height: 1px;margin:10px 0;}
i{font-size:17px !important;vertical-align:top;}
.btn-sm{padding:3px 10px;}

.url{background:#fff;border:1px solid #dee2e9;padding:6px;display:block;margin:5px;font-size:12px;border-radius:3px;transition: all .5s;-moz-transition: all .5s;-webkit-transition: all .5s;cursor:pointer;}
.url:hover{box-shadow:0 1px 2px 0 rgba(0,0,0,.4);text-decoration: none;}

.url-container{position:relative;}
.url-container .delete{display:none;position:absolute;border-radius:10px;top:-5px;right:0;color:#D34836;z-index:30;width:15px;height:15px;cursor:pointer;}
.url-container:hover .delete{display:block;}

#session-title{margin-left:10px;width:133px;}
.form-control{margin-top:10px;}
.form-control[type="password"]{margin-bottom:10px;} 
.truncate {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#SessionlogOut,#logOut{color:#08c;cursor:pointer;}
#logOut{margin-top:5px;font-size:11px;}
.text-muted.pull-right{font-size:11px;margin-top:5px;}